
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="bootstrap" viewBox="0 0 118 94">
    <title>Bootstrap</title>
    <path fill-rule="evenodd" clip-rule="evenodd"
      d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z">
    </path>
  </symbol>
  <symbol id="home" viewBox="0 0 16 16">
    <path
      d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z" />
  </symbol>
  <symbol id="speedometer2" viewBox="0 0 16 16">
    <path
      d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z" />
    <path fill-rule="evenodd"
      d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z" />
  </symbol>
</svg>



<div class="px-3 py-2 mt-0  nav-menu " style="z-index: 1; position: absolute;top: 0%;width: 100%; ">
  <div class="container border-bottom ">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
        <img src="/image/ncc-logo.png" alt="" height="80px" width="80px"><b style=" text-shadow: 2px 2px #000000;"><span
            style="color: #c42110;">NATIONAL</span> <span style="color: #2d2f91;">CADET</span><span
            style="color: #00adef;"> CORPS</span></b>
        <use xlink:href="#bootstrap" />
      </a>

      <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small ">
        <li>
          <a href="/" class="nav-link">
            <svg class="bi d-block mx-auto mb-1" width="24" height="24">
              <use xlink:href="#home" />
            </svg>
            HOME
          </a>
        </li>
        <li>
          <a href="/all_activity" class="nav-link text-center ">
            <!-- <svg class="bi d-block mx-auto mb-1" width="24" height="24">
              <use xlink:href="#speedometer2" />
            </svg> -->
            <i class="fa-solid fa-share-nodes fs-4 fw-1" ></i><br>
            ACTIVITY
          </a>
        </li>
        <li>
          <a href="/achivements" class="nav-link  text-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="text-white" width="24" height="24" viewBox="0 0 448 512">
              <path
                d="M128 39C128 25.1 137.1 15.17 150.9 14.09L302.7 1.443C312 .6658 320 8.027 320 17.39V47.1C320 56.84 312.8 63.1 304 63.1H152.1C139.2 63.1 128 52.81 128 39V39zM302.4 95.1C303.5 101.2 304 106.5 304 111.1C304 156.2 268.2 191.1 224 191.1C179.8 191.1 144 156.2 144 111.1C144 106.5 144.6 101.2 145.6 95.1H302.4zM373.6 460.3L320 369.7V480C320 481.3 319.9 482.5 319.8 483.8L145.5 234.9C162.1 227.8 180.2 223.1 198.8 223.1H249.2C265.1 223.1 280.6 226.8 295 231.9L389.9 67.71C382.2 63.3 379.6 53.51 384 45.86C388.4 38.21 398.2 35.58 405.9 40L433.6 56C441.2 60.42 443.8 70.21 439.4 77.86L383.1 173.9L385.6 174.9C400.9 183.7 406.1 203.3 397.3 218.6L360.6 282C362.6 284.9 364.5 287.8 366.3 290.8L442.4 419.7C453.7 438.7 447.4 463.2 428.4 474.4C409.3 485.7 384.8 479.4 373.6 460.3V460.3zM264 319.1C277.3 319.1 288 309.3 288 295.1C288 282.7 277.3 271.1 264 271.1C250.7 271.1 240 282.7 240 295.1C240 309.3 250.7 319.1 264 319.1zM160 512C142.3 512 128 497.7 128 480V369.7L74.44 460.3C63.21 479.4 38.68 485.7 19.66 474.4C.6381 463.2-5.669 438.7 5.569 419.7L81.7 290.8C91.06 274.1 103.4 261.5 117.7 250.8L299.1 510C295.6 511.3 291.9 512 288 512L160 512z" />
            </svg>
            <br> ACHIVEMENTS
          </a>
        </li>
        <li>
          <div class=" dropstart " id="navbarDropdownMenuLink">
            <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside" class="nav-link   text-center "
              style="color:black;">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 448 512">
                <path
                  d="M0 96C0 78.33 14.33 64 32 64H416C433.7 64 448 78.33 448 96C448 113.7 433.7 128 416 128H32C14.33 128 0 113.7 0 96zM0 256C0 238.3 14.33 224 32 224H416C433.7 224 448 238.3 448 256C448 273.7 433.7 288 416 288H32C14.33 288 0 273.7 0 256zM416 448H32C14.33 448 0 433.7 0 416C0 398.3 14.33 384 32 384H416C433.7 384 448 398.3 448 416C448 433.7 433.7 448 416 448z" />
              </svg>
              <br> MORE
            </a>


            <ul class="dropdown-menu  " id="drop" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/dashboard"><b>Dashboard</b> </a></li> 
              <li><a class="dropdown-item" href="/cadets"><b>Cadets Corner</b></a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
           
              <li><a class="dropdown-item" href="/gallery"><b>Gallery</b> </a></li>
              <li>
              
                <div class="dropstart" id="navbarDropdownSideMenuLink">
                  <a href="#" role="button" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" ata-bs-auto-close="outside" aria-expanded="false" class=" text-center">
                    <b>About</b> 
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownSideMenuLink">
                    <li><a class="dropdown-item" href="/about"><b>NCC</b> </a></li>
                    <li><a class="dropdown-item" href="/aboutkec"><b>KEC NCC</b></a></li>
                  </ul>
                </div>
                
                </li>
              <!-- <li>
                <h6 class="dropdown-header"> <b>USER</b> </h6>
              </li>
              <li>
                <a href="#" class="nav-link text-black text-center">
                  <svg class="bi d-block mx-auto mb-1 " width="24" height="24">
                    <use xlink:href="#people-circle" />
                  </svg>
                  <b>NAME</b>
                </a>
              </li>
              <li><a class="dropdown-item" href="#"><b>LOGOUT</b></a></li>
              <li><a class="dropdown-item" href="#"><b>SIGNUP</b> </a></li> -->
            </ul>
        </li>

      </ul>
    </div>
  </div>
</div>



<div style="width: 100%; " class="mt-5 pt-5">
  <div class="px-3 py-2  mb-3 " id="nav2">
    <div class="container d-flex flex-wrap justify-content-between">
      <div>
        <a href="https://kongu.ac.in/"><img src="/image/kec-logo.png" id="img2" height="80px" width="70px" alt=""></a>
      </div>

      <h3 style="color: #feca03;letter-spacing: 3px;margin: auto;" class="text-center"><b>Unity & Discipline</b></h3>
      <div>
        <a href="https://indiancc.nic.in/"><img src="/image/unity-logo.png" id="img2" height="80px" width="70px" alt=""></a>
      </div>
    </div>
  </div>
</div>
