/* navbar styles */

.nav-item {
    padding: 3px;
}

/* a tag */
a {
    text-decoration: none;
    color: black;
}



/* Map css */
.map_data {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
#d-data {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.dtc_inside {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);


}
.map_data:before {
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
}
.map_data:before {
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
}
.map_data {
    background: inherit;
}
.map_data:before {
    background: inherit;
}
.dtc li {
    --animate-duration: 5s;
}


/* Map tooltip */
@media screen and (min-width:1199px) {
    .map {
        height: 500px;
    }
}

[contenteditable] {
    outline: 0px solid transparent;
}

g :hover {

    transition: 0.6s;
    cursor: pointer;
    transform: scale(1.01);



    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.tooltip-inner:before {
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
}

.tooltip-inner {
    background: inherit;
    box-shadow: 0px 0px 4px black;
    opacity: 1 !important;
    color: black;
    background-image: linear-gradient(to right, #ee1b22, #e40047, #ce0064, #ac007c, #80148c, #68319d, #4843a8, #1050af, #0068c2, #007fd3, #0096e2, #00adef);
}

.tooltip-inner::before {
    background: inherit;
}

.tooltip.bs-tooltip-right .tooltip-arrow::before {
    border-right-color: #2f4fff !important;
}

.tooltip.bs-tooltip-left .tooltip-arrow::before {
    border-left-color: #2f4fff !important;
}

.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: #2f4fff !important;
}

.tooltip.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: #2f4fff !important;
}



