<%- layout('layout/boilerplate') -%>
  <%- include('../partials/nav') -%>

    <div class="container">
      <h3 class="mb-3">In General</h3>
      <p>The National Cadet Corps (NCC) has its genesis in the 'University Corps', which
        was created under the <b> Defence Act, 1917</b> with the object to make up the shortage of the
        Army. In 1920, when the Indian Territorial Act was passed, The `University Corps' was
        replaced by the 'University Training Corps (UTC)' In 1942, the UTC was renamed as
        the 'University Officers Training Corps' (UOTC). The need to create a youth
        organisation at National level to train the young boys and girls to be better citizens and
        future leaders of our great country in all walks of life, including Defence forces, was
        rightly realized by our leaders. A Committee under <b> Pandit HN Kunzru</b> was set up in 1946
        at the behest of our first Prime Minister,<b>Pandit Jawaharlal Nehru</b> . The NCC came into
        existence on 16th July, 1948 under the NCC Act XXXVI of 1948 under the <b>Ministry of
          Defence (MOD)</b>. </p>
      <h3 class="my-3">Aims</h3>
      The aims of NCC as approved by MOD in Mar 2001 are as under:-
      <ul>
        <li>To develop character, comradeship, discipline, leadership, secular outlook,
          spirit of adventure, sportsmanship and ideals of selfless service among the youth
          of the country.</li>
        <li>To create a human resource of organized, trained and motivated youth, to
          provide leadership in all walks of life and always be available for the service of
          the nation.</li>
        <li>To provide a suitable environment to motivate the youth to take up a
          career in the Armed Forces.</li>
      </ul>
      <div class="kec">
        <h3 class="my-4">About KEC NCC</h3>
        <h4>Army Wing</h4>
        <p class="my-4">KEC NCC Army Wing was inaugurated by <b>Lt Col. Ramesh Menon</b> on <b>10/12/2003</b> , in the
          presence of the then commanding
          officer of <b>15 (TN) BN NCC Erode.</b>  <b>Lt Col. M.K. Balakrishnan.</b>
          <b> Shri. M.N. Ramasamy,</b> the Correspondent, Kongu Engineering College presided over the function.<b> Dr.
            A.M. Natarajan,</b> the Principal, Kongu Engineering College delivered the Principal Address. Mr. T.
          Periyasamy, the then caretaker of Kongu Engineering College, NCC unit organized the NCC unit Inaugral
          Program.
        </p>
        <div class="row text-center">
          <div class="col-md-6 my-3">
            <img class="img-responsive img-thumbnail" width="400px" src="/image/army.jpg" alt="" srcset="">
          </div>
          <div class="col-md-6 my-3">
            <img class="img-responsive img-thumbnail" width="400px" src="/image/army1.jpg" alt="" srcset="">
          </div>
        </div>
        <h4>Air Wing</h4>
        <p>KEC NCC Air Wing was inaugurated by <b> Wg Cdr K. Jayandan</b>, the Commanding Officer, <b>5(TN) AIR SQN (TECH) NCC</b> ,
          SALEM on <b>18/09/2019</b> . <b>Thiru P. Sachithanandan</b> , the Correspondent, Kongu Engineering College presided over the
          inaugural and <b> Dr.V. Balusamy</b>, the Principal, Kongu Engineering College delivered the felicitation address. The
          Welcome address was delivered by <b>Major Dr P.S. Raghavendran</b> , Company Commander, Kongu Engineering College. <b>Mr.
            A. Jeevanantham</b> , the then Care Taker of NCC Air Wing organized the Air Wing Inaugral program.</p>
        <div class="row text-center">
          <div class="col-md-6 my-3">
            <img class="img-responsive img-thumbnail" width="400px" src="/image/air1.jpg" alt="" srcset="">
          </div>
          <div class="col-md-6 my-3">
            <img class="img-responsive img-thumbnail" width="400px" src="/image/air_inagural.jpg" alt="" srcset="">
          </div>
        </div>
      </div>
      <div class="organisation my-5">
        <h3>Organisation</h3>
        <ul>
          <li> The NCC organization is administered through the <b> MOD</b>. The Defence Secretary
            is overall in-charge, who is responsible to the Govt, of India for efficient functioning of
            the NCC and other matters.</li>
          <li> The NCC is headed by <b>Director General (DG)</b> an Army Officer of the rank of
            Lieutenant General, who is responsible for the functioning of the NCC in the country
            through the Dte Gen NCC situated at Delhi. The DG at the Dte Gen NCC is assisted by
            two <b>Additional Directors General (ADsG)</b> , one Major General from the Army and the
            other a Rear Admiral from the Navy or an Air Vice Marshal from the Air Force. There
            are five <b> Deputy Directors General (DDsG)</b> of the rank of Brigadier and equivalent; three
            Brigadiers and one Commodore/Air Commodore and one civilian officer.</li>

          <li>At the state level, the country has been divided into <b>17 Directorates (Dtes)</b>
            covering all States and Union Territories. These Dtes are headed by an officer of the
            rank of Brigadier or its equivalent from the other two Services. Each of the State NCC
            Dte controls two to fourteen Group Headquarters (Gp HQ), headed by an officer of the
            rank of Colonel or its equivalent. In all, there are 95 Gp HQs in the country, who
            exercise control over a network of 657 Army Wing Units (including Technical and Girls'
            Unit), 59 Naval Wing Units and 58 Air Squadrons. Details of NCC Dte's and Gp HQs
            are given in Appendix 'A' & 'B' respectively. The NCC unit is commanded by a Lt
            Col/ Col (TS) or equivalent. In addition the NCC has two training establishments <b>Officers Training School
              (OTS), Kamptee (near Nagpur) and Women Officers Training
              School (WOTS),</b> Gwalior where professors and teachers from colleges and schools are
            specially trained to impart training to the cadets as <b>Associate NCC Officers (ANOs).</b> </li>
        </ul>
        <div class="container d-flex justify-content-center">
          <img src="/image/ncc_organisation.png" class="img-fluid" alt="">
        </div>

      </div>
    </div>



    <%- include('../partials/footer') -%>