<%- layout('layout/boilerplate') -%>
  <%- include('../partials/nav') -%>

    <div class="container">
      <div class="aim mb-3">
        <h1>Aim of NCC</h1>
        <hr class="w-75">
        <p>The ‘Aims’ of the NCC laid out in 1988 have stood the test of time and continue to meet the requirements
          expected of it in the current socio–economic scenario of the country. The NCC aims at developing character,
          comradeship, discipline, a secular outlook, the spirit of adventure and ideals of selfless service amongst
          young citizens. Further, it aims at creating a pool of organized, trained and motivated youth with leadership
          qualities in all walks of life, who will serve the Nation regardless of which career they choose. Needless to
          say, the NCC also provides an environment conducive to motivating young Indians to join the armed forces.</p>
      </div>
     
      <div class="moto mb-3">
        <h1>MOTTO of NCC</h1>
        <hr class="w-75">
        <p>The need for having motto for the Corps was discussed in the 11th Central Advisory Committee (CAC) meeting
          held on 11 Aug 1978. The mottos suggested were “Duty and Discipline”; “Duty, Unity and Discipline”; “Duty and
          Unity”; “Unity and Discipline”. The final decision for selection of <b>“Unity and Discipline” </b> as motto
          for the NCC was taken in the 12th CAC meeting held on 12 Oct 1980.</p>
      </div>
      <div class="history mb-3">
        <h1>History</h1>

        <p>The Cadet Corps Committee which was formed on 29 Sep 1946 with Pt HN Kunzru as chairman held six meetings in
          South Block, New Delhi. At the same time, Pt HN Kunzru formed sub-committees which were sent on study tours in
          all the main provinces of pre-independent India including provinces which are now located in Bangladesh and
          Pakistan. One sub-committee was also sent on tour to Great Britain and France from 15 Feb 1947 to 31 Mar 1947
          to study the Youth and Cadet organisations in those countries.</p>
        <p>The Cadet Corps Committee carried out exhaustive study of the problem of youth in India. Its sub-committees
          after their tour at home and abroad submitted their report to the Govt of India in Mar 1947. Soon after the
          report was submitted, a far reaching political development began to impact the country, due to which the Cadet
          Corps Scheme had to be kept in abeyance. The religious strife which then was at its zenith, ultimately led to
          the partition of the country into India and Pakistan.</p>
        <p>On the stroke of midnight of 14/15 Aug 1947, India achieved her independence. Immediately after independence,
          India was confronted with problems of formidable magnitude concerning not only repatriation of millions of
          displaced persons from Pakistan but also a full scale invasion of Kashmir by the Armed tribesmen supported by
          Pakistan. The armed forces had to rush to retrieve Kashmir at a time when they were already pre-occupied with
          the internal problem of maintaining law and order during the country’s initial stage of consolidation.</p>
        <p>The war in Kashmir and the consequent loss of a portion of Indian territory; the open support of Western
          Powers to Pakistan in the Security Council of the United Nations, made it more than evident to the Indian
          leaders that they not only had to strengthen the Armed Forces but also create sufficient strength of reserves,
          who could take up arms, when required. The gravity of time and event found expression in the Indian
          Legislature through anxious and pressing demand for military training of young men and women throughout the
          country.</p>
        <div class="row">
          <div class="col-md-4 text-center">
            <p><img class="img-thumbnail"
                src="https://cdnbbsr.s3waas.gov.in/s307811dc6c422334ce36a09ff5cd6fe71/uploads/2020/01/2020011495.png"
                width="400" alt="Hridaynath"><br> Dr. Hriday Nath Kunzuru addressing Directors of NCC (now called Deputy
              Director Generals) Conference</p>
          </div>
          <div class="col-md-8">
            <p>At this juncture, Prime Minister Pt Jawahar Lal Nehru at the behest of Sardar Baldev Singh, the then
              Defence Minister and Sardar Vallabhbhai Patel, then Home Minister, took out the Kunzuru Committee Report
              for a serious studyfrom the shelves of the Defence Department. On 05 Dec 1947, after being approved by the
              Defence Committee the copy of the Cadet Corps Committee Report was sent to the Chief Secretaries and Chief
              Commissioners of all Provincial Govts (now called State Govts) for their comments. The consent of
              Provincial Govts were required because they were responsible for the administration of the educational
              institutions in their respective provinces and thus the success of the Cadet Corps scheme largely depended
              on their initiative. Replies received from the provinces in Jan 1948, show that they all agreed in
              principal with the Cadet Corps Scheme submitted by the Kunzuru Committee.</p>
          </div>
        </div>
      </div>

      <div class="row mt-3" style="flex-direction:row-reverse ;">
        <div class="col-md-2  text-center">
          <p><img class="img-thumbnail"
              src="https://cdnbbsr.s3waas.gov.in/s307811dc6c422334ce36a09ff5cd6fe71/uploads/2020/01/2020011435.png"
              alt="G G Bewoor"><br>Then Colonel (later Chief of Army Staff) GG Bewoor. First Director (now called
            Director General) of NCC</p>
        </div>
        <div class="col-md-10 mt-3">
          <h2>Birth of the National Cadet Corps</h2>
          <p>The Kashmir War of 1948 taught a very important lesson to India, that freedom needs to be protected by
            strong Armed Forces. Its immediate manifestation was that the recommendations of Kunzuru committee were
            placed before the Constituent Assembly (Legislature) on 13 Mar 1948. A draft Bill was sent to the
            Constituent Assembly (Legislative) on 19 Mar 1948, which evoked great interest and enthusiasm amongst all
            members. After due deliberations and amendments, the Bill was passed by the Assembly on 08 Apr 1948. The
            Central Govt accepted the opinion of the Provincial Govts and the Standing Committee’s recommendations for
            the formation of a Cadet Corps which was to be named as “National Cadet Corps”, as recommended by the
            Kunzuru Committee.</p>
          <p>The Bill received the assent of the Governor General on 16 Apr 1948, and the National Cadet Corps came
            into being by an Act of the Parliament Act No. XXXI of 1948 designated ‘The National Cadet Corps Act
            1948’. This Act with 13 clauses, prescribed the formation of the National Cadet Corps in India.</p>
          <p>The first step in the process of raising of the NCC was setting up of the NCC Secretariat now called
            Headquarters Directorate General NCC. In fact, even before the NCC Bill was passed by the Constituent
            Assembly (Legislative), the Ministry of Defence had set up the nucleus of the NCC Secretariat, with Col
            (later retired as Chief of Army Staff) Gopal Gurunath Bewoor as first Director of the NCC. He took over as
            Director of NCC on 31 Mar 1948.</p>
        </div>
      </div>
      <h2 class="mt-3">Inauguration of NCC</h2>
      <p>The schools and colleges opened after summer vacation and the NCC of Independent India was inaugurated on 15
        Jul 1948. The journey of this Indian youth organisation, which has now become the largest uniformed youth
        organisation in the world had begun.</p>
      <p>In the year 1948 a total of 96 units of Senior Division were raised, comprising variety of units to include
        one Armoured Corps, three Artillery, five Engineers, two Signals and two Medical – and 83 companies of
        Infantry. As there was some delay in the establishment of NCC in UP, Madras and Bihar, whose Govts wanted
        every student joining NCC to be verified by police prior to enrolment, only 20,000 cadets had joined the NCC
        in the year 1948. The raising of the Junior Division units did not progress well owing to shortage of trained
        school teachers. The main difficulty was that adequate number of teachers of the desired quality did not come
        forward to work as NCC officers. There were various administrative reasons attributed to this. Sometimes,
        colleges and schools were not in a position to spare the teaching staff except during the summer vacation.
        Thus the NCC which has now13 lakh cadets on its rolls, had started with 20,000 cadets in 1948.
      </p>

      <div class="flag mt-3">
        <h1>NCC Flag</h1>
        <div class="text-center">
          <div><img class="text-center my-5"
              src="https://cdnbbsr.s3waas.gov.in/s307811dc6c422334ce36a09ff5cd6fe71/uploads/2020/01/2020011444.jpg"
              alt="NCC Flag" width="311" height="203"></div>
          <p class="text-center "><strong>The NCC flag for various units of the NCC was first introduced in
              1951. The flag was of same pattern, colour and size as was used by various regiments of the Army. The only
              difference was that it had the NCC badge and unit designation placed in the centre. Later on it was felt
              that the flag should be in keeping with the inter-service character of the Corps. In 1954 the existing
              tricolour flag was introduced. The three colours in the flag depict the three services of the Corps, red
              for the Army, deep blue for the Navy and light blue for the Air Force. The letters NCC and the NCC crest
              in gold in the middle of the flag encircled by a wreath of lotus, give the flag a colourful look and a
              distinct identity.</strong></p>
        </div>
      </div>
      <div class="song mt-3">
        <h1>NCC Song Lyrics</h1>
        <pre class="text-center fs-6">
         <b> Hum Sab Bharatiya Hain, Hum Sab Bharatiya Hain
          Apni Manzil Ek Hai,
          Ha, Ha, Ha, Ek Hai,
          Ho, Ho, Ho, Ek Hai.
          Hum Sab Bharatiya Hain.
          
          Kashmir Ki Dharti Rani Hai,
          Sartaj Himalaya Hai,
          Saadiyon Se Humne Isko Apne Khoon Se Pala Hai
          Desh Ki Raksha Ki Khatir Hum Shamshir Utha Lenge,
          Hum Shamshir Utha Lenge.
          
          Bikhre Bikhre Taare Hain Hum Lekin Jhilmil Ek Hai,
          Ha, Ha, Ha, Ek Hai
          Hum Sab Bharatiya Hai.
          Mandir Gurudwaare Bhi Hain Yahan
          Aur Masjid Bhi Hai Yahan
          Girija Ka Hai Ghariyaal Kahin
          Mullah ki Kahin Hai Ajaan
          
          Ek Hee Apna Ram Hain, Ek hi Allah Taala Hai,
          Ek Hee Allah Taala Hain, Raang Birange Deepak Hain Hum,
          lekin Jagmag Ek Hai, Ha Ha Ha Ek Hai, Ho Ho Ho Ek Hai.
          Hum Sab Bharatiya Hain, Hum Sab Bharatiya Hain.</b></pre>
      </div>
      <div class="gallery mt-3">
        <h1 class="mb-5">Gallery</h1>
        <div class="row d-flex justify-content-around">
          <div class="col-md-3 ">
            <img src="https://cdnbbsr.s3waas.gov.in/s307811dc6c422334ce36a09ff5cd6fe71/uploads/2020/01/2020011416.png"
              class="img-responsive img-thumbnail" height="300" width="500" alt="J1">First Prime Minister of India
            Jawaharlal Nehru reviewing Guard of Honour<p></p>
          </div>
          <div class="col-md-3 ">
            <img src="https://cdnbbsr.s3waas.gov.in/s307811dc6c422334ce36a09ff5cd6fe71/uploads/2020/01/2020011467.png"
              class="img-responsive img-thumbnail" height="300" width="500" alt="J2">Pandit Jawaharlal Nehru presenting
            Republic Day banner<p></p>
          </div>
        </div>

      </div>
    </div>

    
    <%- include('../partials/footer') -%>