<%- layout('layout/boilerplate') -%>
  <%- include('../partials/nav') -%>

        <div style="margin-top: 150px;">
            <div class="container text-center px-0" style="padding-top: 0%;">
                <div style="padding: 50px;">
                    <div class="row" style="padding: 30px;">
                        <div class="col ">
                            <a href="/documents/camp_documents/1y-_JHRa3LK05YAqJiXSSnOTdKv8QsTze"><i class="fa-solid fa-house-flag fs-1 py-2"></i> <br>Camp Documents</a>
                            <br> <br>
                        </div>
                        <div class="col">
                            <a href="/documents/subjects/14fseT5TNqEyf6dNGITmzfWZIuPaFjb4w">
                                <i class="bi bi-book-half fs-1"></i><br>Subjects</a> <br> <br>
                        </div>
                        <div class="col">
                            <a  href="/documents/newsletter/1cwUmfeviIVqsGgDCcTZc7PRtovnmSC-5">
                                <i class="fa-solid fa-person-chalkboard fs-1 py-2"></i><br> News Letters
                               </a> <br> <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a href="/documents/circular/1t39b3xUPy9zeFAN48dOTpf-lpI9nPSSq">
                                <i class="bi bi-clipboard2-minus-fill fs-1"></i><br>
                                Circular</a> <br> <br>
                        </div>
                        <div class="col">
                            <a  href="/general_rules">
                                <i class="fa-solid fa-file-circle-question fs-1 py-2"></i><br>
                                General Rules</a> <br> <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <style>
            .cadet {
                border: 1px solid black;

            }
           
        </style>


<%- include('../partials/footer') -%>