<%- layout('layout/boilerplate') -%>
  <%- include('../partials/nav') -%>

    <div class="container">
        <h3>General Rules</h3>
        <p>An officer or cadet posted or appointed to a unit or part
          thereof of the Senior or Junior Division or an applicant for appointment as an
          officer attached to an Armed Forces unit of preliminary training as specified in
          sub-rule (3), rule 21, when undergoing training, commits an offence, if he does
          any of the following acts, namely :-</p>
        <ul>
          <li>When on parade, engaged on any service duty, or wearing uniform:-</li>
          <ul>
            <li>Strikes, or uses or offers violence to, or uses threatening or
              insubordinate language to, or behaves with contempt towards his
              superior officer</li>
              <li> disobeys any standing order of, or lawful command given by, his
                superior officer</li>
                <li>Neglect to obey a general or unit order, made specially applicable to
                  the National Cadet Corps, by the Officer Commanding the unit to
                  which he belongs</li>
                  <li>Being an officer or cadet non-commissioned officer strikes or ill
                    treats any person subject to any law relating to the Armed Forces or
                    to the Act, who is subordinate in rank or position. </li>
          </ul>
          <li>Without sufficient cause fails to appear at the place of parade at the
            time fixed or to attend at any place in his capacity as a member of the National
            Cadet Corps, when duly required so to attend or when on parade without
            sufficient cause quits the ranks</li>
            <li> Without sufficient cause fails to perform any part of the training
              which by or under the Act he is required to perform</li>
              <li>When in charge of any property belonging to any Government of
                India or to a unit or part thereof of the National Cadet Corps, makes away
                with, or is concerned in making away with any such property</li>
              <li><a href="https://cdnbbsr.s3waas.gov.in/s307811dc6c422334ce36a09ff5cd6fe71/uploads/2020/01/2020011436.pdf" target="_blank" rel="noopener noreferrer">......Read More</a> </li>
        </ul>
    </div>




    <%- include('../partials/footer') -%>